<ion-content>
  <video #player playsinline autoplay muted loop poster="assets/video/video-cover.jpg" id="bgvid">
    <source src="assets/video/background-480.mp4" type="video/mp4">
  </video>
  <div class="login-container">
    <img class="logo" src="assets/img/logo/logo_transparent.png" />
    <form (ngSubmit)="LogIn($event)">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input id="Username"  type="text"  name="Username"  placeholder="Email" [(ngModel)]="Username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input id="Password" type="Password"  name="Password" placeholder="Password" [(ngModel)]="Password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button fill="solid" expand="block" color="danger" Type="submit">Login</ion-button>
      <p (click)="RestEmail()"><strong>Forgot your password?</strong></p>
      <p routerLink="/register" fill="solid" expand="block" color="danger" style="text-decoration: underline;">Register here</p>
    </form>
  </div>
</ion-content>
