<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="createGame()">
    <ion-list>
    <ion-label>Game Type</ion-label>
    <ion-select  [(ngModel)]="gameType" placeholder="Select One">
      <ion-select-option value="Football">football</ion-select-option>
      <ion-select-option value="Basketball">basketball</ion-select-option>
      <ion-select-option value="Soccer">soccer</ion-select-option>
      <ion-select-option value="Tennis">tennis</ion-select-option>
    </ion-select>
    <ion-item>
        <ion-input id="playAddress" type="text"  name="playAddress"  placeholder="Address you want to play" [(ngModel)]="" required></ion-input>
      </ion-item>

    <ion-item>
     <ion-label>How many people you need?</ion-label>
            <ion-select  [(ngModel)]="people" placeholder="Select One">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6+">6+</ion-select-option>
          </ion-select>
    </ion-item>
    </ion-list>
  </form>
    <ion-button fill="solid" expand="block" color="dark" (click)="createGame()">Create Game</ion-button>


</ion-content>
