<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Select Sport</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding no-margin>
    <div class="grid">
        <div class='grid-cell responsive' *ngFor="let image of items">
            <button class="square square-100" [ngStyle]="{'background-image': 'url(' + image.url + ')'}" routerLink="/list">
                <div class="title">
                    {{image.name}}
                </div>
            </button>
        </div>
    </div>

</ion-content>

